.mainContainer {
    width: 80%;
    margin: 0px auto 0px auto;
}

.fullNameContainer {
    display: inline-block;
    width: 80%;
    margin: auto;
}

@keyframes blink {
    50% {
        border-color: #fbfbfb;
    }
}

@keyframes blink-info {
    50% {
        border-color: rgba(72, 78, 96, 0);
    }
}

.fullNameContent {
    padding-right: 10px;
    font-size: 3.5em;
    font-weight: bold;
    width: auto;
    margin-left: 0px;
}

@media (orientation: portrait) {

    /* phones, 99.9% of the time */
    .fullNameContent {
        font-size: 2rem;
    }
}

.fullNameContent::after {
    content: "";
    border-style: solid;
    border-width: 0px 0.1em 0px 0px;
    padding-left: 5px;
    animation: blink 0.5s step-end infinite alternate;
}

.bioContainer {
    margin-top: -5%;
    line-height: 2.8vmax;
    width: 75%;
}

.projectsContainer,
.contactsContainer {
    margin-top: 10%;
    text-align: center;
}

.topic {
    font-weight: bold;
    width: 4em;
    margin: auto auto auto auto;
    padding-bottom: 10px;
    border-bottom: 7px solid;
}


footer {
    padding-top: 15%;
    padding-bottom: 2%;
    text-align: center;
    font-size: 0.5em;
    width: 50%;
    margin: auto;
}