<ion-content [fullscreen]="true">
  <div class="mainContainer">
    <app-header></app-header>
    <div class="fullNameContainer" >
      <p class="fullNameContent">{{nameToDisplay}}</p>
    </div>
    <div class="bioContainer">
      <p>{{bio}}</p>
    </div>
    <app-terminal></app-terminal>
    <div id="projectsContainer" class="projectsContainer">
      <p class="topic">Progetti</p>
      <app-project *ngFor="let project of projects" 
        [title]="project.title" 
        [img]="project.img" 
        [description]="project.description" 
        [tags]="project.tags" 
        [links]="project.links">
      </app-project>
    </div>
    <div class="contactsContainer" id="contactsContainer">
      <p class="topic">Contatti</p>
      <div>
        <span *ngFor="let contactLink of contactsLinks; let i = index">
          <a class="animated-link" href={{contactLink.content}}>{{contactLink.title}}</a>
          <span *ngIf="i < 3">||</span>
        </span>
      </div>
    </div>
  </div>
  <footer>{{copyright}}</footer>  
</ion-content>
